<?xml version="1.0"?>
<config>
    <modules>
        <Picode_CustomerIdentifier>
            <version>1.0.0</version>
        </Picode_CustomerIdentifier>
    </modules>
    <frontend>
        <routers>
            <customeridentifier>
                <use>standard</use>
                <args>
                    <module>Picode_CustomerIdentifier</module>
                    <frontName>customeridentifier</frontName>
                </args>
            </customeridentifier>
            <customer>
                <args>
                    <modules>
                        <Picode_CustomerIdentifier before="Mage_Customer">Picode_CustomerIdentifier_Customer</Picode_CustomerIdentifier>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
        <helpers>
            <customeridentifier>
                <class>Picode_CustomerIdentifier_Helper</class>
            </customeridentifier>
        </helpers>
        <models>
            <customeridentifier>
                <class>Picode_CustomerIdentifier_Model</class>
                <resourceModel>customeridentifier_mysql4</resourceModel>
            </customeridentifier>
            <customeridentifier_mysql4>
                <class>Picode_CustomerIdentifier_Model_Mysql4</class>
                <entities>
                    <ipidassociation>
                        <table>customeridentifier_ipidassociation</table>
                    </ipidassociation>
                </entities>
            </customeridentifier_mysql4>
        </models>
        <resources>
            <customeridentifier_setup>
                <setup>
                    <module>Picode_CustomerIdentifier</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customeridentifier_setup>
            <customeridentifier_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customeridentifier_write>
            <customeridentifier_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customeridentifier_read>
        </resources>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <customeridentifier>
                        <type>singleton</type>
                        <class>Picode_CustomerIdentifier_Model_Observer</class>
                        <method>setCustomerIdentifier</method>
                    </customeridentifier>
                </observers>
            </controller_action_layout_load_before>
            
            <customer_login>
                <observers>
                    <customeridentifier_update>
                        <type>singleton</type>
                        <class>Picode_CustomerIdentifier_Model_Observer</class>
                        <method>updateCustomerIdentifier</method>
                    </customeridentifier_update>
                </observers>
            </customer_login>
        </events>
    </global>
    <!--
    <adminhtml>
        <events>
            <review_save_after>
                <observers>
                    <update_offer_on_review_approved>
                        <type>singleton</type>
                        <class>Picode_CustomerIdentifier_Model_Observer</class>
                        <method>updatePointsOnReviewApproved</method>
                    </update_offer_on_review_approved>
                </observers>
            </review_save_after>
        </events>
    </adminhtml>
    -->
</config>
