<?xml version="1.0"?>
<config>
	<modules>
		<Picode_Portofoliu>
			<version>1.1.0</version>
		</Picode_Portofoliu>
	</modules>
	<frontend>
		<routers>
			<portofoliu>
				<use>standard</use>
				<args>
					<module>Picode_Portofoliu</module>
					<frontName>portofoliu</frontName>
				</args>
			</portofoliu>
		</routers>
		<layout>
			<updates>
				<portofoliu>
					<file>picode/portofoliu.xml</file>
				</portofoliu>
			</updates>
		</layout>
		<events>
			<controller_action_layout_load_before>
                <observers>
                    <customer_group_handle>
                        <class>Picode_Portofoliu_Model_Observer</class>
                        <method>addCustomerGroupHandle</method>
                    </customer_group_handle>
                </observers>
            </controller_action_layout_load_before>
		</events>
	</frontend>
	<global>
		<helpers>
			<portofoliu>
				<class>Picode_Portofoliu_Helper</class>
			</portofoliu>
		</helpers>
		<blocks>
			<portofoliu>
				<class>Picode_Portofoliu_Block</class>
			</portofoliu>
		</blocks>
		<models>
			<portofoliu>
				<class>Picode_Portofoliu_Model</class>
				<resourceModel>portofoliu_mysql4</resourceModel>
			</portofoliu>
			<portofoliu_mysql4>
				<class>Picode_Portofoliu_Model_Mysql4</class>
				<entities>
					<albums>
						<table>portofoliu_albums</table>
					</albums>
					<videos>
						<table>portofoliu_videos</table>
					</videos>
					<photos>
						<table>portofoliu_photos</table>
					</photos>
					<visitors>
						<table>portofoliu_visitors</table>
					</visitors>
				</entities>
			</portofoliu_mysql4>
		</models>
		<resources>
			<portofoliu_setup>
				<setup>
					<module>Picode_Portofoliu</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</portofoliu_setup>
			<portofoliu_write>
				<connection>
					<use>core_write</use>
				</connection>
			</portofoliu_write>
			<portofoliu_read>
				<connection>
					<use>core_read</use>
				</connection>
			</portofoliu_read>
		</resources>
	</global>
	<admin>
		<routers>
			<portofoliu>
				<use>admin</use>
				<args>
					<module>Picode_Portofoliu</module>
					<frontName>portofoliu</frontName>
				</args>
			</portofoliu>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<portofoliu module="portofoliu">
				<title>Portofolii</title>
				<sort_order>100</sort_order>
				<children>
					<foto module="portofoliu">
						<title>Portofolii Foto</title>
						<sort_order>0</sort_order>
						<action>portofoliu/adminhtml_foto</action>
					</foto>
					<video module="portofoliu">
						<title>Portofolii Video</title>
						<sort_order>10</sort_order>
						<action>portofoliu/adminhtml_video</action>
					</video>
				</children>
			</portofoliu>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<portofoliu translate="title" module="portofoliu">
							<title>Portofolii</title>
							<sort_order>1000</sort_order>
							<children>
								<portofoliu translate="title">
									<title>Portofolii</title>
								</portofoliu>
							</children>
						</portofoliu>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<portofoliu>
					<file>portofoliu.xml</file>
				</portofoliu>
			</updates>
		</layout>
	</adminhtml>
</config> 