<?xml version="1.0"?>
<config>
    <modules>
        <Picode_MiniAdvancedSearch>
            <version>0.1.0</version>
        </Picode_MiniAdvancedSearch>
    </modules>
    <global>
        <blocks>
            <miniadvancedsearch>
                <class>Picode_MiniAdvancedSearch_Block</class>
            </miniadvancedsearch>
        </blocks>
        <helpers>
            <miniadvancedsearch>
                <class>Picode_MiniAdvancedSearch_Helper</class>
            </miniadvancedsearch>
        </helpers>
    </global>
    <frontend>
        <routers>
            <miniadvancedsearch>
                <use>standard</use>
                <args>
                    <module>Picode_MiniAdvancedSearch</module>
                    <frontName>miniadvancedsearch</frontName>
                </args>
            </miniadvancedsearch>
        </routers>
        <layout>
            <updates>
                <miniadvancedsearch>
                    <file>picode/miniadvancedsearch.xml</file>
                </miniadvancedsearch>
            </updates>
        </layout>
    </frontend>
</config>
