<?xml version="1.0"?>
<config>
    <modules>
        <Picode_ProviderReputation>
            <version>1.0.0</version>
        </Picode_ProviderReputation>
    </modules>
    <frontend>
        <routers>
            <providerreputation>
                <use>standard</use>
                <args>
                    <module>Picode_ProviderReputation</module>
                    <frontName>providerreputation</frontName>
                </args>
            </providerreputation>
        </routers>
        <layout>
            <updates>
                <providerreputation>
                    <file>picode/providerreputation.xml</file>
                </providerreputation>
            </updates>
        </layout>
        
        <events>
            <!--
            <reputation_updated_view_before>
                <observers>
                    <update_social_shares>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>updateSocials</method>
                    </update_social_shares>
                </observers>
            </reputation_updated_view_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <insert_credit_count>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>insertBlock</method>
                    </insert_credit_count>
                </observers>
            </core_block_abstract_to_html_before>
            <provider_registration_after>
                <observers>
                    <update_provider_credit>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>updateReputation</method>
                    </update_provider_credit>
                </observers>
            </provider_registration_after>
            <catalog_product_load_after>
                <observers>
                    <update_offer_views>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>incrementOfferViews</method>
                    </update_offer_views>
                </observers>
            </catalog_product_load_after>
            <controller_action_postdispatch_sendfriend>
                <observers>
                    <update_emails_sent>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>incrementEmailsSent</method>
                    </update_emails_sent>
                </observers>
            </controller_action_postdispatch_sendfriend>
            <contact_request_send_after>
                <observers>
                    <update_contact_sent>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>incrementContactSent</method>
                    </update_contact_sent>
                </observers>
            </contact_request_send_after>
            -->
        </events>
    </frontend>
    <global>
        <blocks>
            <providerreputation>
                <class>Picode_ProviderReputation_Block</class>
            </providerreputation>
        </blocks>
        <helpers>
            <providerreputation>
                <class>Picode_ProviderReputation_Helper</class>
            </providerreputation>
        </helpers>
        <models>
            <providerreputation>
                <class>Picode_ProviderReputation_Model</class>
                <resourceModel>providerreputation_mysql4</resourceModel>
            </providerreputation>
            <providerreputation_mysql4>
                <class>Picode_ProviderReputation_Model_Mysql4</class>
                <entities>
                    <reputation>
                        <table>providerreputation_reputation</table>
                    </reputation>
                    <views>
                        <table>providerreputation_views</table>
                    </views>
                    <contacts>
                        <table>providerreputation_contacts</table>
                    </contacts>
                    <facebook>
                        <table>providerreputation_facebook</table>
                    </facebook>
                    <gplus>
                        <table>providerreputation_gplus</table>
                    </gplus>
                    <loves>
                        <table>providerreputation_loves</table>
                    </loves>
                    <tweets>
                        <table>providerreputation_tweets</table>
                    </tweets>
                    <emails>
                        <table>providerreputation_emails</table>
                    </emails>
                </entities>
            </providerreputation_mysql4>
        </models>
        <resources>
            <providerreputation_setup>
                <setup>
                    <module>Picode_ProviderReputation</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </providerreputation_setup>
            <providerreputation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </providerreputation_write>
            <providerreputation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </providerreputation_read>
        </resources>
        <template>
            <email>
                <!-- <aprove_free_acount> -->
                <send_to_friend  module="Picode_ProviderReputation">
                    <label>Trimite furnizor unui prieten</label>
                    <file>send_provider_to_friend.html</file>
                    <type>html</type>
                </send_to_friend>
            </email>
        </template>
    </global>
    <!--
    <adminhtml>
        <events>
            <review_save_after>
                <observers>
                    <update_offer_on_review_approved>
                        <type>singleton</type>
                        <class>Picode_ProviderReputation_Model_Observer</class>
                        <method>updatePointsOnReviewApproved</method>
                    </update_offer_on_review_approved>
                </observers>
            </review_save_after>
        </events>
    </adminhtml>
    -->
</config>
