<?xml version="1.0"?>
<config>
    <modules>
        <Picode_ReputationPoints>
            <version>0.1.0</version>
        </Picode_ReputationPoints>
    </modules>
    <global>
        <blocks>
            <reputationpoints>
                <class>Picode_ReputationPoints_Block</class>
            </reputationpoints>
        </blocks>
        <helpers>
            <reputationpoints>
                <class>Picode_ReputationPoints_Helper</class>
            </reputationpoints>
        </helpers>
        <models>
            <reputationpoints>
                <class>Picode_ReputationPoints_Model</class>
                <resourceModel>reputationpoints_mysql4</resourceModel>
            </reputationpoints>
            <reputationpoints_mysql4>
                <class>Picode_ReputationPoints_Model_Mysql4</class>
                <entities>
                    <identifier>
                        <table>rpp_identifier</table>
                    </identifier>
                    <reputation>
                        <table>rpp_reputation</table>
                    </reputation>
                    <provider>
                        <table>rpp_provider</table>
                    </provider>
                    <offer>
                        <table>rpp_offer</table>
                    </offer>
                    <details>
                        <table>rpp_details</table>
                    </details>
                    <frdemails>
                        <table>rpp_frdemails</table>
                    </frdemails>
                </entities>
            </reputationpoints_mysql4>
        </models>
        <resources>
            <reputationpoints_setup>
                <setup>
                    <module>Picode_ReputationPoints</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reputationpoints_setup>
            <reputationpoints_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reputationpoints_write>
            <reputationpoints_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reputationpoints_read>
        </resources>
        <template>
            <email>
                <send_to_friend  module="Picode_ReputationPoints">
                    <label>Send to Friend emailE</label>
                    <file>frdemail_send_friend.html</file>
                    <type>html</type>
                </send_to_friend>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Picode_ReputationPoints before="Mage_Customer">Picode_ReputationPoints_Overwrite</Picode_ReputationPoints>
                    </modules>
                </args>
            </customer>
            <reputationpoints>
                <use>standard</use>
                <args>
                    <module>Picode_ReputationPoints</module>
                    <frontName>reputationpoints</frontName>
                </args>
            </reputationpoints>
        </routers>
        <layout>
            <updates>
                <reputationpoints>
                    <file>picode/reputationpoints.xml</file>
                </reputationpoints>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <reputationpoints_create_customer_identifier>
                        <type>singleton</type>
                        <class>Picode_ReputationPoints_Model_Observer</class>
                        <method>setCustomerIdentifier</method>
                    </reputationpoints_create_customer_identifier>
                </observers>
            </controller_action_layout_load_before>
            <customer_login>
                <observers>
                    <reputationpoints_update_identifier_after_login>
                        <type>singleton</type>
                        <class>Picode_ReputationPoints_Model_Observer</class>
                        <method>updateCustomerIdentifier</method>
                    </reputationpoints_update_identifier_after_login>
                </observers>
            </customer_login>
            <provider_registration_after>
                <observers>
                    <reputationpoints_create_reputation_after_new_customer>
                        <type>singleton</type>
                        <class>Picode_ReputationPoints_Model_Observer</class>
                        <method>createProviderReputation</method>
                    </reputationpoints_create_reputation_after_new_customer>
                </observers>
            </provider_registration_after>
            <offer_save_after>
                <observers>
                    <reputationpoints_create_reputation_after_new_offer>
                        <type>singleton</type>
                        <class>Picode_ReputationPoints_Model_Observer</class>
                        <method>createOfferReputation</method>
                    </reputationpoints_create_reputation_after_new_offer>
                </observers>
            </offer_save_after>
            <catalog_product_load_after>
                <observers>
                    <reputationpoints_update_offer_view_count>
                        <type>singleton</type>
                        <class>Picode_ReputationPoints_Model_Observer</class>
                        <method>updateOfferViewCount</method>
                    </reputationpoints_update_offer_view_count>
                </observers>
            </catalog_product_load_after>
            <contact_request_send_after>
                <observers>
                    <reputationpoints_update_ctcemail_count>
                        <type>singleton</type>
                        <class>Picode_ReputationPoints_Model_Observer</class>
                        <method>updateCtcemailCount</method>
                    </reputationpoints_update_ctcemail_count>
                </observers>
            </contact_request_send_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <reputationpoints>
                                            <title>Repitation Points</title>
                                        </reputationpoints>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
