<?xml version="1.0"?>
<config>
    <modules>
        <Picode_Popularity>
            <version>1.1.1</version>
        </Picode_Popularity>
    </modules>
    <frontend>
        <routers>
            <popularity>
                <use>standard</use>
                <args>
                    <module>Picode_Popularity</module>
                    <frontName>popularity</frontName>
                </args>
            </popularity>
        </routers>
        <layout>
            <updates>
                <popularity>
                    <file>popularity.xml</file>
                </popularity>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <update_popularity_details>
                        <type>singleton</type>
                        <class>Picode_Popularity_Model_Observer</class>
                        <method>updateCustomerId</method>
                    </update_popularity_details>
                </observers>
            </customer_login>
            <catalog_product_load_after>
                <observers>
                    <update_offer_views>
                        <type>singleton</type>
                        <class>Picode_Popularity_Model_Observer</class>
                        <method>incrementOfferViews</method>
                    </update_offer_views>
                </observers>
            </catalog_product_load_after>
            <controller_action_postdispatch_sendfriend>
                <observers>
                    <update_emails_sent>
                        <type>singleton</type>
                        <class>Picode_Popularity_Model_Observer</class>
                        <method>incrementEmailsSent</method>
                    </update_emails_sent>
                </observers>
            </controller_action_postdispatch_sendfriend>
            <contact_request_send_after>
                <observers>
                    <update_contact_sent>
                        <type>singleton</type>
                        <class>Picode_Popularity_Model_Observer</class>
                        <method>incrementContactSent</method>
                    </update_contact_sent>
                </observers>
            </contact_request_send_after>
        </events>
    </frontend>
    <global>
        <blocks>
            <popularity>
                <class>Picode_Popularity_Block</class>
            </popularity>
        </blocks>
        <helpers>
            <popularity>
                <class>Picode_Popularity_Helper</class>
            </popularity>
        </helpers>
        <models>
            <popularity>
                <class>Picode_Popularity_Model</class>
                <resourceModel>popularity_mysql4</resourceModel>
            </popularity>
            <popularity_mysql4>
                <class>Picode_Popularity_Model_Mysql4</class>
                <entities>
                    <details>
                        <table>popularity_details</table>
                    </details>
                    <offer>
                        <table>popularity_offer</table>
                    </offer>
                    <portfolio>
                        <table>popularity_portfolio</table>
                    </portfolio>
                    <provider>
                        <table>popularity_provider</table>
                    </provider>
                </entities>
            </popularity_mysql4>
        </models>
        <resources>
            <popularity_setup>
                <setup>
                    <module>Picode_Popularity</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </popularity_setup>
            <popularity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </popularity_write>
            <popularity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popularity_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <review_save_after>
                <observers>
                    <update_offer_on_review_approved>
                        <type>singleton</type>
                        <class>Picode_Popularity_Model_Observer</class>
                        <method>updatePointsOnReviewApproved</method>
                    </update_offer_on_review_approved>
                </observers>
            </review_save_after>
        </events>
    </adminhtml>
</config>
